<div class="calendar" ng-model="dt">
  <table>
    <thead>
      <tr class="text-center">
        <th><button type="button" class="btn pull-left" ng-click="move(-1)"><i class="icon-chevron-left"></i></button></th>
        <th colspan="{{rows[0].length - 2 + showWeekNumbers}}"><strong>{{title}}</strong></th>
        <th><button type="button" class="btn pull-right" ng-click="move(1)"><i class="icon-chevron-right"></i></button></th>
      </tr>
      <tr class="text-center" ng-show="labels.length > 0">
        <th ng-show="showWeekNumbers">#</th>
        <th ng-repeat="label in labels">{{label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td ng-show="showWeekNumbers" class="text-center"><em>{{getWeekNumber(row)}}</em></td>
        <td ng-class="{'calendar-item-selected': dt.selected}" ng-dblclick="select(dt.date)" ng-repeat="dt in row" class="calendar-item text-center">
        <div><span ng-class="{muted: dt.secondary}">{{dt.label}}</span></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
