<div class="calendar" ng-mouseup="mouseUp($event)">
  <table class="date-calendar">
    <thead>
      <tr class="text-center">
        <th>
          <button type="button" class="btn pull-left" ng-click="move(-1)"><i class="icon-chevron-left"></i></button>
        </th>
        <th colspan="{{rows[0].length - 2 + showWeekNumbers}}">
          <strong>{{title}}</strong>
        </th>
        <th>
          <button type="button" class="btn pull-right" ng-click="move(1)"><i class="icon-chevron-right"></i></button>
        </th>
      </tr>
      <tr class="text-center" ng-show="labels.length > 0">
        <th ng-repeat="label in labels">{{label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td ng-repeat="dt in row" class="calendar-item text-center" ng-class="{'calendar-item-selected': dt.selected}" ng-click="select(dt.date)">
          <div>
            <span ng-class="{muted: dt.secondary}">{{dt.label}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="right-sider" ng-modal="hour">
    <table class="hour-calendar">
      <tbody>
        <div style="height: 0;">
          <div class="drag-hour-wrap" ng-style="dragStyle" ng-click="cancel()"></div>
        </div>
        <div ng-repeat="group in groups" style="height: 0;">
          <div class="day-group-time" ng-style="getPeriod(group)" ng-dblclick="editTimelog(group)">
            <div>{{group.startTime}} - {{group.endTime}}</div>
            <div>{{group.eventType.name}}</div>
            <div>{{group.description}}</div>
          </div>
        </div>
        <tr ng-repeat="hour in hours" class="hour-item">
          <td class="hour-label">{{hour.hour12}}</td>
          <td class="hour-item">
            <div class="before-half-hour-item"  data-hour="{{hour.hour24}}" data-minute="00" ng-mousedown="mouseDown($event)" ng-mouseover="mouseOver($event)">
            </div>
            <div class="after-half-hour-item" data-hour="{{hour.hour24}}" data-minute="30" ng-mousedown="mouseDown($event)"  ng-mouseover="mouseOver($event)">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
