.top-bar {
	text-align: center;
	display: block;
	padding: 20px;
	margin: 0 0 10px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
/*	white-space: pre;
	white-space: pre-wrap;*/
	/*background-color: #f5f5f5;*/
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.top-bar .title {
	font-weight: bold;
	font-size: 32px;
}
.top-bar .designed-by {
	font-weight: bold;
	font-size: 16px;
	float: right;
}

.left-sider {
	border-right: 1px solid #CCCCCC;
 	position: fixed; 
 	top: 62px;
 	bottom: 0;
 	left: 0;
 	width: 23%;
}

.right-sider {
	border-left: 1px solid #CCCCCC;
 	position: fixed; 
 	top: 62px;
 	bottom: 0;
 	right: 0;
 	width: 25%;
}

.calendar-view {
	position: fixed;
 	right: 26%;
 	width: 50%;
	height: 100%;
}

.calendar {
	/*background-color: #D6D6D6;*/
	/*margin: 0 0 0 30%;*/
	/*width: 100%;*/
	/*text-align: center;*/
	/*overflow: auto;*/
	height: 100%;
	width: 100%;
}

.calendar table {	
/*	margin: auto;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;*/
	width: 100%;
	height: 88%;
	margin: 1% 0;
}

.calendar-item {
	border: 1px solid #CCCCCC;
	cursor: pointer;
	border-collapse: collapse;
	width: 12%;
	text-align: center;
}

.calendar-item.today {
	background: #356194;
}

.hour-calendar {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.hour-calendar tbody {
	/*border-top: 1px solid #CCCCCC;*/
}

.hour-item {
	width: 0%;
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
}

.hour-label {
	text-align: right;
	border-right: 1px solid #CCCCCC;
	width: 15%;
}

.calendar-item-selected {
	background-color: #3F9AB7;
	color: #FFFFFF;
}
