<div class="modal-header">
  <h3>Event Type</h3>
  <i class="icon-remove close" ng-click="close()"></i>
</div>
<div class="modal-body">
	<input type="text" style="width:78%;" placeholder="add a type" ng-model="eventType">
  <button class="btn" style="margin-bottom: 10px; width: 15%; position: relative; left: 5px;" ng-click="addEventType()">＋</button>
  <ul class="event-type-list">
  	<li ng-repeat="type in types">
  		
			<div ng-hide="type.editing" ng-dblclick="setEditMode(type)">
      	{{type.name}}
      </div>
      <div ng-show="type.editing">
        <input type="text" style="width:77%;" ng-model="type.name" value="{{type.name}}">
        <input class="btn" type="submit" value="Save" ng-click="updateEventType(type)">
      </div>
  	</li>
  </ul>
</div>